#gameContainer{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(192, 100%, 98%);
    color: rgb(28, 73, 111);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.grid {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
  }
  
  .cell {
    border: 1px solid rgb(28, 73, 111);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .cell:hover {
    background-color: rgb(28, 73, 111);
  }