/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: flex;
  height: 90%vh; 
}

.picture-side {
  flex: 1; 
  background-image: url('C:/Users/yongy/Dropbox/My PC (DESKTOP-0QJ72EG)/Desktop/oden-project/SignUp_Forms/MasonFlowers.JPG');
  background-size: cover; 
  background-position: center; 
  opacity: 0.7; 
}

.form-side {
  flex: 1;
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #f9f9f9;
  padding: 40px; 
}

form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

form label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%; 
  max-width: 300px; 
  padding: 10px; 
  font-size: 1rem; 
  border: 1px solid #ffe8e8; 
  border-radius: 5px; 
}

form button {
  width: 100%;
  max-width: 300px; 
  padding: 10px;
  font-size: 1rem;
  background-color: #fcbeee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgba(252, 212, 237, 0.667)
}

body {
  color: #646464;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  text-align: center; 
  padding: 20px;
}
